*{
    margin: 0;
}
header{
    background-color: white;
}

#fondoJuego{
    background-color: white;
    height: 67vh;
    display: flex;
    justify-content: center;
}

.OpcionCompra{
    Width:450px;
    height:170px;
    background-color: white;
    margin-right: 25px;
    padding-top: 15px;
    padding-left: 25px;
}
.OpcionCompra label{
    font-size: 25px;
    margin-top: 10px;
    margin-left: 0px;

}
.OpcionCompra input{
    margin-left: 40px;
}
.OpcionCompra button{
    background-color: aqua;
    margin-top: 20px;
    width: 90%;
    height: 40px;
    font-size: 20px;
    text-align: center;
}
.btn{
    display:flex;
    justify-content: center
}
/* ------- ------- ------ ------- ------- ----*/
#cardfotoJuego{
    width: auto;
    background-color: white;
    margin-left: 160px;
    display: grid;
    grid-template-columns: 285px 470px;
    
}

#nombreJuego{
    background-color:white
}

#nombreJuego h2{
    
    padding: 20px 20px;
    font-size: 35px;

}
#fotoJuego{
    width: 285px;
    height: 425px;
    
    margin-top: -240px;
}
/**/
#fotofifaJuego{
    width: 285px;
    height: 360px;
    
    margin-top: -240px;
}
#fotofifaJuego img{
    width: inherit;
    height: inherit;
}
/**/
/**/
#fotominecraftJuego{
    width: 344px;
    height: 325px;
    
    margin-top: -240px;
}
#fotominecraftJuego img{
    width: inherit;
    height: inherit;
}
/**/
#fotoJuego img{
    width: inherit;
    height: inherit;
}
#juegoSpace{
    display: flex;
    justify-content: space-between;
}



/* ---------- ------------  ------- ---------- ---+++++++ +++++ ++++------ ---- -- -*/
#infoJuego{
    display: grid;
    grid-template-columns: 1fr 210px;
    grid-template-rows: auto auto;
    margin: 0px 110px;
    column-gap: 40px;
    margin-top: 25px;
}
#info{
    width: 72vw;
    height: auto;
    background-color:white; 
    padding:30px
    
}

#info h3{
    font-size: 25px;
    text-align: justify;
}

#info p{
    font-size:17px;
    padding-right: 45px;
    text-align: justify ;
}

#publicidad{
    width: 100%;
    height: 500px;
    background-color: white;
}